<footer class="flex-shrink-0 py-2 bg-dark text-white sticky-bottom">
  <div class="container text-center">
    <small>Copyright &copy;  <%= link_to "Antonia", "#", class: "text-white" %></small>
       </div>
</footer>